<div class="container">
    <!-- Temporary - used for testing leader-line -->
    <div class="row">
        <div class="col-md-5">
            <p style="width: 30px;" id="start">start</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
            <app-start-point></app-start-point>
            <app-layer
                *ngFor="let layer of layers"
                [layer]="layer">
            </app-layer>
            <app-end-goal></app-end-goal>
        </div>
    </div>
</div>
